.list-subreddit {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #1c1c1c;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}
.list-subreddit > ul {
    list-style-type: none;
}
