<div class="container">
    <div class="row">
        <hr />
        <div class="col-md-9">
            <div class="list-subreddit">
                <h2>List of Subreddits</h2>
                <hr>
                <ul>
                    <li *ngFor="let subreddit of subreddits">
                        <br />
                        <a routerLink="/view-subreddit/{{subreddit.id}}">{{subreddit.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <app-side-bar></app-side-bar>
            <app-subreddit-side-bar></app-subreddit-side-bar>
        </div>
    </div>
</div>
